In [1]:
from diskos.reader import build_reader
import diskos.spec as spec
from diskos.sender_specific.merge import AptAnalId, ANAL_ID_COL
from diskos.spec import BlockType
import pandas as pd

In [2]:
reader = build_reader(r'c:\data\diskos\6406_12-3_S__ROCK_AND_CORE__GCH_RAW_1.ASC', quiet_mode=True)
spec.SUPPRESS_WARNINGS = True  # some rows have missing cells - we know
parsed_file =reader.parse_file()
obsv_blocks = (b for b in parsed_file.blocks if b.block_type == BlockType.Observations)

In [3]:
df = next(obsv_blocks).as_dataframe
df.head()

       AnalID ROCKWT  EOMWT ASPWT SATWT AROWT POLWT
0  133092WBUA  20.76  233.5
1  133093WBUA   7.76  107.0
2  133094WBUA   8.70  146.0
3  133095WBUA  14.93  201.8
4  133096WBUA  20.53  313.5

In [4]:
def apply(original_df):
    df = original_df.copy()
    anal_codes = set([AptAnalId(id).anal_code for id in df[ANAL_ID_COL]])
    if len(anal_codes) == 1:
        code = anal_codes.pop()
        df.columns = [f"{col}.{code}" for col in df.columns]
    return df

In [5]:
get_next_mod_df = lambda: apply(next(obsv_blocks).as_dataframe)

In [6]:
get_next_mod_df().head()

,AnalID.BU,EOMPPM.BU,SATEOM.BU,AROEOM.BU,POLEOM.BU,ASPEOM.BU,HCEOM.BU,NHCEOM.BU,EOMTOC.BU,SATTOC.BU,AROTOC.BU,POLTOC.BU,ASPTOC.BU,SATARO.BU,HCNHC.BU
0,133092WBUA,11248.95,,,,,,,765.23,,,,,,
1,133093WBUA,13789.37,,,,,,,1000.00,,,,,,
2,133094WBUA,16788.56,,,,,,,1291.43,,,,,,
3,133095WBUA,13520.03,,,,,,,913.52,,,,,,
4,133096WBUA,15268.18,,,,,,,942.48,,,,,,

In [7]:
get_next_mod_df().head()

    AnalID.RE S1.RE S2.RE S3.RE TMAX.RE TOC.RE   PComments.RE
0  133092AREA  0.05  0.32  0.31     374   1.47  TOC from Leco
1  133093AREA  0.04  0.52  0.48     384   1.33  TOC from Leco
2  133094BREA  0.08  0.62  1.07     392   1.30  TOC from Leco
3  133095AREA  0.04  0.56  0.36     431   1.48  TOC from Leco
4  133096AREA  0.05  0.56  0.68     433   1.62  TOC from Leco

In [8]:
get_next_mod_df().head()

    AnalID.RE PP.RE PI.RE  HI.RE   PComments.RE
0  133092AREA  0.51  0.10  21.77  TOC from Leco
1  133093AREA  0.63  0.06  39.10  TOC from Leco
2  133094BREA  0.81  0.10  47.69  TOC from Leco
3  133095AREA  0.66  0.06  37.84  TOC from Leco
4  133096AREA  0.69  0.07  34.57  TOC from Leco

In [9]:
get_next_mod_df().head()

    AnalID.VK FA.VK HA.VK AL.VK HE.VK WO.VK CO.VK SCI.VK
0  133098WVKA     0    80     0     5     5    10    4.0
1  133099WVKA     0    95     0     0     0     5    4.0
2  133105WVKA    80     0     0     0     5    15    4.0
3  133107WVKA    80     0    10     0     0    10    4.5
4  133109WVKA    95     0     0     0     0     5

In [10]:
get_next_mod_df().head()

    AnalID.VR ParamName.VR                                      ParamValue.VR
0  133098WVRA         Roil  0.41,0.42,0.43,0.43,0.44,0.44,0.45,0.46,0.47,0...
1  133099WVRA         Roil  0.47,0.49,0.50,0.52,0.53,0.54,0.56,0.58,0.58,0...
2  133105WVRA         Roil  0.31,0.31,0.32,0.32,0.33,0.33,0.33,0.33,0.34,0...
3  133107WVRA         Roil  0.30,0.30,0.31,0.32,0.33,0.33,0.34,0.35,0.35,0...
4  133109WVRA         Roil  0.29,0.30,0.31,0.31,0.31,0.31,0.31,0.32,0.32,0...

In [11]:
get_next_mod_df().head()

,AnalID.VR,PopnNum.VR,PopnMean.VR,PopnRead.VR,PopnLRange.VR,PopnURange.VR,PopnStdev.VR,PopnNum_2.VR,PopnMean_2.VR,PopnRead_2.VR,...,PopnRead_2.VR,PopnLRange_2.VR,PopnURange_2.VR,PopnStdev_2.VR,PopnNum_2.VR,PopnMean_2.VR,PopnRead_2.VR,PopnLRange_2.VR,PopnURange_2.VR,PopnStdev_2.VR
0,133098WVRA,1,0.45,11,0.41,0.51,0.03,2,0.66,9,...,,,,,,,,,,
1,133099WVRA,1,0.56,16,0.47,0.63,0.05,,,,...,,,,,,,,,,
2,133105WVRA,1,0.39,39,0.31,0.47,0.05,2,0.65,16,...,,,,,,,,,,
3,133107WVRA,1,0.40,55,0.30,0.49,0.05,,,,...,,,,,,,,,,
4,133109WVRA,1,0.38,48,0.29,0.48,0.05,2,0.58,7,...,,,,,,,,,,

In [12]:
get_next_mod_df().head()

,AnalID.GG,Detector.GG,PeakProperty.GG,C1.GG,C2.GG,C3.GG,iC4.GG,nC4.GG,C5plus.GG,C1toC4.GG,C2toC4.GG,Wetness.GG,iC4nC4.GG,Detector_2.GG,PeakProperty_2.GG,CO2.GG
0,134907WGGA,FID,NORMAREA,31.70,0.37,0.00,0.00,0.00,0.09,32.1,0.4,1.1,,TCD,NORMAREA,67.89
1,134908WGGA,FID,NORMAREA,35.37,0.75,0.00,0.00,0.00,,36.1,0.7,2.1,,TCD,NORMAREA,63.87
2,134909WGGA,FID,NORMAREA,55.70,1.99,0.51,0.00,0.00,0.06,58.2,2.5,4.3,,TCD,NORMAREA,41.73
3,134910WGGA,FID,NORMAREA,93.68,3.43,1.10,0.09,0.14,0.05,98.4,4.8,4.8,0.622,TCD,NORMAREA,1.09
4,134911WGGA,FID,NORMAREA,93.38,3.44,1.11,0.09,0.16,0.06,98.2,4.8,4.9,0.588,TCD,NORMAREA,1.15

In [13]:
get_next_mod_df().head()

,AnalID.GW,Detector.GW,PeakProperty.GW,C3.GW,iC4.GW,nC4.GW,iC5.GW,nC5.GW,22DMC4.GW,CyC5.GW,...,nC27.GW,nC28.GW,nC29.GW,nC30.GW,nC31.GW,nC32.GW,nC33.GW,nC34.GW,nC35.GW,nC36.GW
0,134904WGWA,FID,AREA,458,413,1724,1852,2696,72,640,...,4424,3934,4120,3122,2768,1793,1542,889,689,560
1,134905WGWA,FID,AREA,0,0,2,0,0,0,0,...,25,21,22,22,14,12,0,0,0,0
2,134906WGWA,FID,AREA,0,0,0,0,0,0,0,...,10,13,0,0,0,0,0,0,0,0
3,144817WGWA,FID,AREA,145,179,597,763,1169,34,201,...,2891,2510,2592,1996,1731,1101,924,542,423,373
4,10042WGWA,FID,AREA,54,123,666,1043,1875,63,311,...,709,606,590,493,443,317,249,190,138,132

In [14]:
get_next_mod_df().head()

,AnalID.GW,Detector.GW,PeakProperty.GW,C3.GW,iC4.GW,nC4.GW,iC5.GW,nC5.GW,22DMC4.GW,CyC5.GW,...,nC27.GW,nC28.GW,nC29.GW,nC30.GW,nC31.GW,nC32.GW,nC33.GW,nC34.GW,nC35.GW,nC36.GW
0,134904WGWA,FID,CNCAREA,891119,794294,3316940,3538961,5152621,136195,1189185,...,8265853,7348741,7694716,5830477,5167983,3346972,2878769,1658853,1286557,1044471
1,134905WGWA,FID,CNCAREA,0,0,3365,0,0,0,0,...,47770,40925,42745,41872,27984,23346,0,0,0,0
2,134906WGWA,FID,CNCAREA,0,0,0,0,0,0,0,...,18235,23828,0,0,0,0,0,0,0,0
3,144817WGWA,FID,CNCAREA,342187,419298,1395013,1770190,2712710,78267,454024,...,6556963,5690696,5877428,4525728,3924147,2495198,2093708,1227510,959246,844282
4,10042WGWA,FID,CNCAREA,125554,283272,1528581,2377227,4271257,143117,688912,...,1578440,1349150,1314523,1098711,985120,704989,554427,423887,306125,294283

In [15]:
get_next_mod_df().head()

,AnalID.GT,Detector.GT,PeakProperty.GT,nC10.GT,nC11.GT,nC12.GT,nC13.GT,nC14.GT,nC15.GT,nC16.GT,...,nC51.GT,nC52.GT,nC53.GT,nC54.GT,nC55.GT,nC56.GT,nC57.GT,nC58.GT,nC59.GT,nC60.GT
0,134904WGTA,FID,AREA,3221,3187,2781,2910,3367,2842,2519,...,18,18,16,12,8,6,4,6,4,0
1,144817WGTA,FID,AREA,2968,3061,5364,11152,4337,2776,2438,...,13,9,7,4,4,3,3,2,8,6
2,10042WGTA,FID,AREA,787,1492,2393,3244,3721,3824,3541,...,0,0,0,0,0,0,0,0,0,0

In [16]:
get_next_mod_df().head()

,AnalID.GT,Detector.GT,PeakProperty.GT,nC10.GT,nC11.GT,nC12.GT,nC13.GT,nC14.GT,nC15.GT,nC16.GT,...,nC51.GT,nC52.GT,nC53.GT,nC54.GT,nC55.GT,nC56.GT,nC57.GT,nC58.GT,nC59.GT,nC60.GT
0,134904WGTA,FID,CNCAREA,4054874,4011956,3501369,3664169,4238612,3577928,3170894,...,22387,22506,20010,15101,9806,7598,5411,7064,5466,0
1,144817WGTA,FID,CNCAREA,3158336,3257415,5708391,11868031,4615098,2954571,2594396,...,13632,9073,7890,4293,4643,3669,3195,2253,8046,6575
2,10042WGTA,FID,CNCAREA,1633336,3095923,4964609,6730061,7719975,7932374,7345396,...,0,0,0,0,0,0,0,0,0,0

In [17]:
get_next_mod_df().head()

,AnalID.GS,Detector.GS,PeakProperty.GS,nC8.GS,nC9.GS,nC10.GS,nC11.GS,nC12.GS,nC13.GS,nC14.GS,...,nC33.GS,nC34.GS,nC35.GS,nC36.GS,nC37.GS,nC38.GS,nC39.GS,nC40.GS,nC41.GS,nC42.GS
0,133092WGSA,FID,AREA,,,3,76,12013,211034,81948,...,3,3,2,0,,,,,,
1,133093WGSA,FID,AREA,,,2,69,14645,215625,78482,...,3,4,2,0,,,,,,
2,133094WGSA,FID,AREA,,,2,150,24225,283334,94728,...,4,4,2,1,,,,,,
3,133095WGSA,FID,AREA,,,2,61,14475,197224,68613,...,2,2,1,0,,,,,,
4,133096WGSA,FID,AREA,,,2,77,16240,221473,80807,...,3,3,2,0,,,,,,

In [18]:
get_next_mod_df().head()

,AnalID.GS,Detector.GS,PeakProperty.GS,nC8.GS,nC9.GS,nC10.GS,nC11.GS,nC12.GS,nC13.GS,nC14.GS,...,nC33.GS,nC34.GS,nC35.GS,nC36.GS,nC37.GS,nC38.GS,nC39.GS,nC40.GS,nC41.GS,nC42.GS
0,133092WGSA,FID,CNCAREA,,,5027,147759,23303481,409376517,158967593,...,6500,6772,2911,0,,,,,,
1,133093WGSA,FID,CNCAREA,,,3582,137944,29178268,429596483,156361196,...,6806,7069,4022,817,,,,,,
2,133094WGSA,FID,CNCAREA,,,2979,237175,38194917,446729767,149356164,...,5634,6181,3308,892,,,,,,
3,133095WGSA,FID,CNCAREA,,,4230,135458,31977813,435716353,151583240,...,5421,4694,2736,688,,,,,,
4,133096WGSA,FID,CNCAREA,,,3150,141440,29659980,404495916,147585513,...,5572,6036,3063,887,,,,,,

In [19]:
get_next_mod_df().head()

,AnalID.MS,Detector.MS,PeakProperty.MS,25nor28ab.MS,25nor29ab.MS,25nor30ab.MS,25nor31ab.MS,Detector_2.MS,PeakProperty_2.MS,193.MS,...,Detector_2.MS,PeakProperty_2.MS,27bbR_2.MS,27bbS_2.MS,28bbR_2.MS,28bbS_2.MS,29bbR_2.MS,29bbS_2.MS,30bbR_2.MS,30bbS_2.MS
0,133098WMSA,177,HEIGHT,9792,15739,9433,92776,191,HEIGHT,9538,...,218,HEIGHT,27447,22267,29159,23991,39758,35307,4862,4411
1,133108WMSA,177,HEIGHT,29627,40396,19191,277853,191,HEIGHT,28759,...,218,HEIGHT,115021,90968,67750,85324,227139,215646,14005,10100
2,133126WMSA,177,HEIGHT,18991,28127,17932,145497,191,HEIGHT,31905,...,218,HEIGHT,46884,37447,32205,33023,61933,50757,6300,3980
3,133131WMSA,177,HEIGHT,7563,9320,5965,104788,191,HEIGHT,23488,...,218,HEIGHT,16519,12422,12437,9237,23618,22556,2376,1535
4,134904WMSA,177,HEIGHT,3088034,4773406,4032409,2402106,191,HEIGHT,866300,...,218,HEIGHT,3591020,3152204,2806824,3749109,4841406,4559653,1342855,1238148

In [20]:
get_next_mod_df().head()

,AnalID.MS,Detector.MS,PeakProperty.MS,25nor28ab.MS,25nor29ab.MS,25nor30ab.MS,25nor31ab.MS,Detector_2.MS,PeakProperty_2.MS,193.MS,...,Detector_2.MS,PeakProperty_2.MS,27bbR_2.MS,27bbS_2.MS,28bbR_2.MS,28bbS_2.MS,29bbR_2.MS,29bbS_2.MS,30bbR_2.MS,30bbS_2.MS
0,133098WMSA,177,CNCHEIGHT,139,223,134,1315,191,CNCHEIGHT,135,...,218,CNCHEIGHT,389,316,413,340,564,500,69,63
1,133108WMSA,177,CNCHEIGHT,445,607,288,4172,191,CNCHEIGHT,432,...,218,CNCHEIGHT,1727,1366,1017,1281,3411,3238,210,152
2,133126WMSA,177,CNCHEIGHT,200,297,189,1534,191,CNCHEIGHT,336,...,218,CNCHEIGHT,494,395,340,348,653,535,66,42
3,133131WMSA,177,CNCHEIGHT,134,165,106,1854,191,CNCHEIGHT,416,...,218,CNCHEIGHT,292,220,220,163,418,399,42,27
4,134904WMSA,177,CNCHEIGHT,49365,76307,64462,38400,191,CNCHEIGHT,13849,...,218,CNCHEIGHT,57406,50391,44870,59933,77394,72890,21467,19793

In [21]:
get_next_mod_df().head()

,AnalID.MA,Detector.MA,PeakProperty.MA,2MN.MA,1MN.MA,Detector_2.MA,PeakProperty_2.MA,2EN.MA,1EN.MA,26DMN.MA,...,aRC29MA.MA,Detector_2.MA,PeakProperty_2.MA,C20TA.MA,C21TA.MA,SC26TA.MA,RC26TA_SC27TA.MA,SC28TA.MA,RC27TA.MA,RC28TA.MA
0,133098WMAA,142,CNCHEIGHT,143693,163727,156,CNCHEIGHT,12306,10208,28539,...,8,231,CNCHEIGHT,478,365,1889,7888,1866,3264,2173
1,133108WMAA,142,CNCHEIGHT,414383,368657,156,CNCHEIGHT,38415,31087,59269,...,19,231,CNCHEIGHT,2082,1753,2065,5442,4214,2018,4873
2,133126WMAA,142,CNCHEIGHT,168074,158828,156,CNCHEIGHT,13859,11390,26771,...,3,231,CNCHEIGHT,357,268,202,767,486,229,597
3,133131WMAA,142,CNCHEIGHT,236755,219410,156,CNCHEIGHT,17563,14314,33940,...,2,231,CNCHEIGHT,489,354,147,733,517,198,603
4,134904WMAA,142,CNCHEIGHT,1597337,963150,156,CNCHEIGHT,114901,60296,286151,...,862,231,CNCHEIGHT,7808,7404,6908,19345,9076,7061,8874

In [22]:
get_next_mod_df().head()

,AnalID.GP,Detector.GP,PeakProperty.GP,C1_WithUCM.GP,C2toC5_WithUCM.GP,C6toC14_WithUCM.GP,C15plus_WithUCM.GP,C1_NoUCM.GP,C2toC5_NoUCM.GP,C6toC14_NoUCM.GP,C15plus_NoUCM.GP
0,133093WGPA,FID,NORMAREA,8.288,45.439,46.274,0.000,8.684,47.611,43.705,0.000
1,133103WGPA,FID,NORMAREA,18.555,48.202,33.243,0.000,16.813,43.675,39.512,0.000
2,133107WGPA,FID,NORMAREA,7.735,21.001,45.538,25.726,10.551,28.648,48.412,12.389
3,133111WGPA,FID,NORMAREA,4.816,32.577,62.607,0.000,5.089,34.424,56.458,4.029
4,133128WGPA,FID,NORMAREA,18.141,36.563,45.295,0.000,17.322,34.913,41.860,5.904

In [23]:
get_next_mod_df().head()

,AnalID.GT,Detector.GT,PeakProperty.GT,nC10.GT,nC11.GT,nC12.GT,nC13.GT,nC14.GT,nC15.GT,nC16.GT,...,nC27.GT,nC28.GT,nC29.GT,nC30.GT,nC31.GT,nC32.GT,nC33.GT,nC34.GT,nC35.GT,nC36.GT
0,133093WGTA,FID,AREA,0.000,12596.200,80023.300,435330.900,137331.500,25879.900,18467.100,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
1,133103WGTA,FID,AREA,12000.300,39451.000,247636.100,1206539.600,241521.000,17848.800,3413.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
2,133107WGTA,FID,AREA,79105.300,193698.600,454575.800,826250.200,93081.900,6470.700,1695.000,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
3,133111WGTA,FID,AREA,23789.100,222817.600,3460931.000,13430596.300,2738716.400,272423.000,58192.700,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000
4,133128WGTA,FID,AREA,22657.100,69206.000,378480.200,1587351.300,334150.400,37536.700,25166.600,...,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000,0.000

In [24]:
get_next_mod_df().head()

,AnalID.GT,Detector.GT,PeakProperty.GT,CPI1.GT,PRnC17.GT,PHnC18.GT,AB.GT,PRPH.GT,nC17nC27.GT
0,133093WGTA,FID,AREA,0.0000,0.9238,1.1898,0.7764,2.0064,1.0000
1,133103WGTA,FID,AREA,0.0000,2.6641,0.0000,0.0000,0.0000,1.0000
2,133107WGTA,FID,AREA,0.0000,0.0000,0.0000,0.0000,2.0995,0.0000
3,133111WGTA,FID,AREA,0.0000,0.2856,0.3491,0.8180,1.0975,1.0000
4,133128WGTA,FID,AREA,0.0000,1.3944,0.9113,1.5300,2.6844,1.0000

In [25]:
get_next_mod_df().head()

,AnalID.GC,Detector.GC,PeakProperty.GC,C1.GC,C2.GC,C3.GC,iC4.GC,nC4.GC,iC5.GC,nC5.GC,...,AnalID_2.GC,Detector_2.GC,PeakProperty_2.GC,C1_2.GC,C2_2.GC,C3_2.GC,iC4_2.GC,nC4_2.GC,iC5_2.GC,nC5_2.GC
0,134907WGCA,DELTA13C,ISOTRATIO,-47.5,,,,,,,...,,,,,,,,,,
1,134908WGCA,DELTA13C,ISOTRATIO,-43.8,,,,,,,...,,,,,,,,,,
2,134909WGCA,DELTA13C,ISOTRATIO,-44.9,,,,,,,...,,,,,,,,,,
3,134910WGCA,DELTA13C,ISOTRATIO,-44.2,-27.7,-27.0,-31.0,-27.9,,,...,134910WGDA,DELTA2H,ISOTRATIO,-196,,,,,,
4,134911WGCA,DELTA13C,ISOTRATIO,-42.8,-26.8,-26.4,-29.6,-27.0,,,...,134911WGDA,DELTA2H,ISOTRATIO,-197,,,,,,

In [26]:
get_next_mod_df().head()

         AnalID   d13C
0  134904WCSATA  -28.9
1  134904WCAROA  -27.9
2  144817WCSATA  -28.9
3  144817WCAROA  -28.0
4   10042WCWHOA  -28.8